$text-color-primary: black;
$text-color-secondary: rgb(211, 211, 211);
$text-color-tertiary: rgb(85, 85, 85);
$nav-color-bg: #617588;
$btn-color-bg: #c7c7c7;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: $nav-color-bg;
  color: $text-color-secondary;
  font-family: Roboto, sans-serif;
}
.logo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  color: $text-color-secondary;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5vh;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  position: absolute;
  left: 0px;
  height: 90vh;
  top: 10vh;
  background-color: $nav-color-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  li {
    opacity: 0;
    list-style: none;
  }
  a {
    color: $text-color-secondary;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.5vh;
  }
}
.burger {
  display: block;
  cursor: pointer;
  margin: 0vh 2vh;
  div {
    width: 50px;
    height: 6px;
    background-color: $text-color-secondary;
    margin: 10px;
    transition: all 0.3s ease;
  }
}
/*
@media screen and (max-width: 1024px){
  .nav-links{
    width: 60%;
  }
}
*/
/*@media screen and (max-width: 768px) {
}*/

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-10px, 12px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-10px, -12px);
  }
}
main{
  display: flex;
  flex-direction: column;
}
.btn {
  cursor: pointer;
  display: flex;
  margin: 2vh 25%;
  font-size: 3vh;
  padding: 2vh 2vh;
  // height: 2vh;
  justify-content: center;
  align-content: space-around;
  color: $text-color-tertiary;
  background-color: $btn-color-bg;
}
#random-card {
  display: flex;
  justify-content: center;
}
