$text-color-primary: black;
$text-color-secondary: rgb(211, 211, 211);;
$text-color-tertiary: rgb(64, 64, 64);
$nav-color-bg: #617588;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: $nav-color-bg;
  color: $text-color-secondary;
  font-family: Roboto, sans-serif;
}
.logo {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  color: $text-color-secondary;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  position: absolute;
  left: 0px;
  height: 95vh;
  top: 5vh;
  background-color: $nav-color-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  li {
    opacity: 0;
    list-style: none;
  }
  a {
    color: $text-color-secondary;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }
}
.burger {
  display: block;
  cursor: pointer;
  margin: 0vh 1vh;
  div {
    width: 25px;
    height: 3px;
    background-color: $text-color-secondary;
    margin: 5px;
    transition: all 0.3s ease;
  }
}
/*
@media screen and (max-width: 1024px){
  .nav-links{
    width: 60%;
  }
}
*/
/*@media screen and (max-width: 768px) {
}*/

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
