html,
body {
  margin: 0;
  padding: 0;
  background: rgb(121, 121, 121);
}
#page-wrapper {
  display: grid;  
  grid-template-rows: 1fr 4fr 10fr;
  grid-template-areas: 
    "header"
    "buttons"
    "content"
}
#header{
  font-size: 30px;
  font-size: 3.5vw;
  justify-self: center;
  align-self: center;
  color: rgb(228, 228, 228)
}
#button-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 20px 50px;
}
.button {
  font-size: 30px;
  font-size: 3.5vw;
  color: rgb(90, 90, 90);
}
#card-container{
  display: grid;
  justify-self: center;
  align-self: center;
  
}